/*
Theme Name: mtwabp
Theme URI: 
Description: theme for mtwabp.
Author: Floor Drees
Author URI: http://www.floordrees.nl
Version: 1.0

License:
License URI:

General comments (optional).
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start styling */

header {
  margin-bottom: 50px;
}

/* home-page */

body {
  font-family: verdana, sans-serif;
  font-size: 14px;
}

#home-page,
#guestbook-page,
#about-page {
  max-width: 900px;
  padding-top: 30px;
  padding-left: 100px;
  padding-bottom: 30px;
}

#home-page h1,
#guestbook-page h1,
#about-page h1 {
  font-size: 24px;
  color: #C1272D;
  text-align: center;
}

#home-page h2,
#guestbook-page h2,
#about-page h2 {
  font-size: 18px;
  color: #333333;
  text-align: center;
  margin-top: 10px;
}

#home-page h3,
#guestbook-page h3,
#about-page h3 {
  font-size: 16px;
  color: #C1272D;
  margin-bottom: 5px;
}

#home-page h4 a,
#home-page h4 a:visited,
#guestbook-page h4 a,
#guestbook-page h4 a:visited,
#about-page h4 a,
#about-page h4 a:visited {
  font-size: 14px;
  color: #C1272D;
}

#home-page h4 a:hover,
#home-page h4 a:active,
#guestbook-page h4 a:hover,
#guestbook-page h4 a:active,
#about-page h4 a:hover,
#about-page h4 a:active {
  color: #009247;
}

#home-page h5,
#guestbook-page h5,
#about-page h5 {
  font-size: 20px;
  color: #C1272D;
  margin-bottom: 10px;
}

#home-page p,
#guestbook-page p,
#about-page p {
  font-size: 14px;
}

#home-page a,
#guestbook-page a,
#about-page a {
  text-decoration: underline;
  color: #C1272D;
}

#home-page article,
#guestbook-page article,
#about-page article {
  border: 2px solid #8CC640;
  padding: 8px;
  margin-bottom: 20px;
  max-width: 500px;
  float: left;
  clear: both;
}

#home-page #timeline {
  float: left;
}

#home-page article .categories {
  float: right;
}

#home-page .author,
#guestbook-page .author,
#about-page .author {
  font-size: 14px;
  color: #333333;
  font-weight: bold;
  margin-top: 5px;
}

#home-page time,
#guestbook-page time,
#about-page time {
  font-size: 14px;
  color: #333333;
  font-style: italic;
}

#home-page #good-deed,
#guestbook-page #guestbook {
  border: 2px solid #8CC640;
  padding: 8px;
  margin-bottom: 20px;
  width: 500px;
  float: left;
}

#home-page input,
#guestbook-page input,
#about-page input {
  margin-bottom: 5px;
}

#home-page .button,
#guestbook-page .button {
  background: #009247;
  color: #FFF;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  float: right;
  clear: both;
}

#home-page span,
#guestbook-page span
#about-page span {
  border: 2px solid #333333;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0, 10px;
}

#home-page #checkboxes {
  float: right;
  overflow: hidden;
}

/* aside */

#home-page aside,
#guestbook-page aside,
#about-page aside {
  overflow: hidden;
  float: right;
  max-width: 200px;
  border-left: 2px solid #009247;
  padding: 0 10px;
  margin: 0 0 2em 0;
}

/* guestbook */

#guestbook-page #guestbook-entries {
  float: left;
  clear: both;
}

/* about */


